{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
    <div class="col-md-6 mx-auto">

        <div class="card p-4 shadow">
            <h2 class="text-center mb-4">Stock Market Analysis</h2>

            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}

                <button class="btn btn-success w-100 mt-3">
                    Get Stock Data
                </button>
            </form>
        </div>

        {% if stock_data %}
        <div class="card mt-4 p-3 shadow">
            <h4>{{ stock_data.stock.name }} ({{ stock_data.stock.symbol }})</h4>

            <p><strong>Price:</strong> {{ stock_data.current_price }}</p>
            <p><strong>Change:</strong> {{ stock_data.price_change }}</p>
            <p><strong>% Change:</strong> {{ stock_data.percentage_change }}</p>
        </div>
        {% endif %}

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{{ form.media }}

{% endblock %}